.acplt-list .acplt-item[style^="--color"] {
	display: flex;
	border-left: 2px solid transparent;
	color: black;
	font-family: monospace;
	font-weight: 600;
	white-space: pre;
	transition: border-color 0.25s ease, padding 0.25s ease;

	span {
		width: 1rem;
		height: 1rem;
		margin-right: 0.5rem;
		background-color: var(--color);
		border-radius: 100%;
		box-shadow: 0 0 0 1px #e6ecf1;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: -2px;
		right: -2px;
		height: 100%;
		opacity: 0.075;
		transition: background-color 0.25s ease;
	}

	&::after {
		z-index: 0;
		border: inherit;
		transition: none;
	}

	&[aria-selected=true] {
		padding-left: 1.2rem;
		background-color: transparent;
		border-color: var(--color);

		&::before {
			background-color: var(--color);
		}

		&::after {
			border-color: black;
		}
	}
}
