<h3 id="search-clear">search() / clear()</h3>
<p><code>search()</code> method accepts as argument a string to programmatically trigger a search from a string. It allows to search in suggestions and to open menu if there are results. You can also use <code>clear()</code> method to clear a search (clear input value and close menu).</p>

<%-
include(
	'../components/input.ejs',
	{
		id: 'search-clear-example',
		label: 'Example',
		placeholder: 'Enter a country name',
		buttons: {
			search: 'Search',
			clear: 'Clear'
		}
	}
)
-%>

<%-
include(
	'../components/code.ejs',
	{
		language: 'js',
		content:
`const search = document.querySelector( '#search-btn' );
const clear = document.querySelector( '#clear-btn' );
const instance = new AutoComplete( input, { source: [ /* ... */ ] } );

search.addEventListener( 'click', () => {

	input.value = 'saint';
	instance.search( 'saint' );

} );

clear.addEventListener( 'click', () => instance.clear() );`
	}
)
-%>
