<h3 id="select-highlight">select() / highlight()</h3>
<p><code>select()</code> and <code>highlight()</code> methods accept as argument a number to programmatically select or highlight a suggestion from an index.</p>

<%= require('../components/input.ejs')( { id: 'select-highlight-example', placeholder: 'Use Up and Down to choose suggestions', label: 'Example', buttons: { select: 'Select', moveup: 'Up', movedown: 'Down' } } ) %>
<div class="menu-target"></div>

<%=
require( '../components/code.ejs' )(
    {
        language: 'js',
        content:
`const select = document.querySelector( '#select-btn' );
const moveUp = document.querySelector( '#moveup-btn' );
const moveDown = document.querySelector( '#movedown-btn' );
const menuTarget = document.querySelector( '#menu-target' );
const instance = new AutoComplete(
	input,
	{
        source: [ /* ... */ ],
		menuTarget,
		minLength: 0,
		maxResults: 20,
		onResize: ( { style } ) => {

			style.position = 'relative';
			style.zIndex = 0;
			style.left = 0;
			style.top = 0;

		},
	}
);

// For demo purpose.
instance.close = () => null;
instance.disable();
instance.search();

select.addEventListener( 'click', () => instance.select( instance.index ) );
moveUp.addEventListener( 'click', () => instance.highlight( instance.index - 1 ) );
moveDown.addEventListener( 'click', () => instance.highlight( instance.index + 1 ) );`
    }
)
%>
