<div class="table">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Argument</th>
				<th>Type</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span class="prop-name">destroy</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Remove functionalities and instance attached to the input.</td>
			</tr>
			<tr>
				<td><span class="prop-name">enable</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Remove <code>disable</code> attribute from input and allow search.</td>
			</tr>
			<tr>
				<td><span class="prop-name">disable</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Add <code>disable</code> attribute and prevent user to search.</td>
			</tr>
			<tr>
				<td><span class="prop-name">open</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Open menu of suggestions from the last search.</td>
			</tr>
			<tr>
				<td><span class="prop-name">close</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Close menu of suggestions.</td>
			</tr>
			<tr>
				<td><span class="prop-name">clear</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Clear input value, close menu and update state.</td>
			</tr>
			<tr>
				<td><span class="prop-name">search</span></td>
				<td><span class="prop-default"><code>value</code></span></td>
				<td><span class="prop-type">{string}</span></td>
				<td>Trigger a manual search from a string.</td>
			</tr>
			<tr>
				<td><span class="prop-name">select</span></td>
				<td><span class="prop-default"><code>index</code></span></td>
				<td><span class="prop-type">{number}</span></td>
				<td>Select a suggestion in the menu from an index.</td>
			</tr>
			<tr>
				<td><span class="prop-name">highlight</span></td>
				<td><span class="prop-default"><code>index</code></span></td>
				<td><span class="prop-type">{number}</span></td>
				<td>Highlight a suggestion in the menu from an index.</td>
			</tr>
		</tbody>
	</table>
</div>
