<h2 id="extras"><span aria-hidden="true">🎉</span>&nbsp;Extras</h2>
<p>AutoComplete comes with several public methods and events that allow to go a step beyond depending of your needs. In the following examples, we will change the default behaviour of a search.</p>

<%- include('./multiple-values.ejs') -%>
<%- include('./dynamic-values.ejs') -%>
