<p>When using array of objects, you can pass other properties and use them in the option <code><a href="#renderItem">renderItem</a></code>. It can be useful to create custom markup with custom content that should not be directly searched.</p>
<p>If you need to make some data preprocessing or make asynchronous request to output suggestions, you can use a function and call the response callback passed as argument:</p>

<%-
include(
	'../components/input.ejs',
	{
		id: 'async-example',
		label: 'Asynchronous example',
		placeholder: 'Enter a Github repository name'
	}
)
-%>

<%-
include(
	'../components/code.ejs',
	{
		language: 'js',
		content:
`new AutoComplete(
	input,
	{
		/**
		 * Return suggestions after a search
		 *
		 * @param {string} value - Searched value.
		 * @param {function} response - Callback function.
		 */
		source: function( value, response ) {

			fetch( \`https://api.github.com/search/repositories?q=\${value}\` )
			.then( obj => obj.json() )
			.then( data => {

				const source = data.items.map( item => item.full_name );
				response( source );

			} );

		},
		loader: true,
	}
);`
	}
)
-%>
