<h3 id="highlighter">highlighter</h3>
<p>By default, the highlighter use a <code>&lt;mark></code> element to append matched string(s), from searched value, in suggestions. You can use any HTMLElement to highlight matched string(s) in suggestion. <code>highlighter</code> can be set to <code>false</code> to disable this feature.</p>

<%= require('../components/input.ejs')( { id: 'highlighter-example', label: 'Example', placeholder: 'Enter a country name' } ) %>

<%=
require( '../components/code.ejs' )(
	{
		language: 'js',
		content:
`const highlighter = document.createElement( 'mark' );
highlighter.className = 'highlighter';

new AutoComplete(
	input,
	{
		source: [ /* ... */ ],
		highlighter,
	}
);`
	}
)
%>

<%=
require( '../components/code.ejs' )(
	{
		language: 'css',
		content:
`.acplt-item .highlighter {
	background-color: #85ffff;
}

.acplt-item .highlighter::before,
.acplt-item .highlighter::after {
	content: "·";
	background-color: white;
}

.acplt-item[aria-selected=true] .highlighter::before,
.acplt-item[aria-selected=true] .highlighter::after {
	background-color: #e9f2ff;
}`
	}
)
%>
