
.events-logger {
	display: block;
	overflow-y: auto;
	height: 9rem;
	margin-bottom: 1rem;
	padding: 0 1rem 1rem;
	white-space: pre;
}

span.log-event:first-child {
	display: block;
	margin: 0.875rem 0 0.5rem 0;
	font-weight: 600;
}

span.log-type {
	display: inline-block;
	min-width: 6rem;
	padding: 0 1rem 0 0;
	color: $accent-color;
	font-style: italic;
}
