<h3 id="assets">Assets</h3>
<p>If you do not use import, you need to include AutoComplete assets in the document:</p>

<%-
include(
	'../components/code.ejs',
	{
		language: 'markup',
		content:
`<link rel="stylesheet" href="autocomplete.css">
<script src="autocomplete.js" async></script>`
	}
)
-%>
