<h3 id="installation">Installation</h3>
<p>Install AutoComplete from npm package manager:</p>

<%=
require( '../components/code.ejs' )(
	{
		language: 'bash',
		content: `npm install @loicblascos/autocomplete --save`
	}
)
%>

More information about the npm package can be found on <a href="https://www.npmjs.com/package/@loicblascos/autocomplete">npm repository</a>.
