<h3 id="markup">Markup</h3>
<p>AutoComplete script works with search and text input elements. <a href="https://www.w3.org/WAI/tutorials/forms/labels/">Explicit and Implicit input labels</a> are supported by AutoComplete script to be fully accessible.</p>

<%-
include(
	'../components/code.ejs',
	{
		language: 'markup',
		content:
`<!-- Explicit label -->
<label for="my-input">Input Label</label>
<input type="text" id="my-input" placeholder="type to search">

<!-- Implicit label -->
<label>
	Input Label
	<input type="text" id="my-input" placeholder="type to search">
</label>`
	}
)
-%>
