<h2 id="events"><span aria-hidden="true">⚡️</span>&nbsp;Events</h2>
<p>AutoComplete comes with several events triggered after actions that you can easily capture.</p>

<%= require('./table.ejs')() %>
<%= require('./logger.ejs')() %>
