<h2 id="events"><span aria-hidden="true">⚡️</span>&nbsp;Events</h2>
<p>AutoComplete comes with several events triggered after actions that you can easily capture.</p>

<%- include('./table.ejs') -%>
<%- include('./logger.ejs') -%>
