<h3 id="events-logger">Events Logger</h3>

<%-
include(
	'../components/input.ejs',
	{
		id: 'events-example',
		label: 'Example',
		placeholder: 'Type to see events log',
		logger: true
	}
)
-%>

<%-
include(
	'../components/code.ejs',
    {
        language: 'js',
        content:
`new AutoComplete(
	input,
	{
		source: [ /* ... */ ],
		onOpen: () => console.log( 'menu opened' ),
		onClose: () => console.log( 'menu closed' ),
		onResize: () => console.log( 'menu resized' ),
		onSearch: value => console.log( \`search for "\${ value }"\` ),
		onAbort: () => console.log( 'search aborted' ),
		onClear: () => console.log( 'input cleared' ),
		onSelect: item => console.log( \`"\${ item.label }" selected\` ),
		onHighlight: item => console.log( \`"\${ item.label }" highlighted\` ),
	}
);`
    }
)
-%>

