<div class="table">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Argument</th>
				<th>Type</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span class="prop-name">onOpen</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Triggered after the menu was opened.</td>
			</tr>
			<tr>
				<td><span class="prop-name">onClose</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Triggered after the menu was closes.</td>
			</tr>
			<tr>
				<td><span class="prop-name">onResize</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Triggered after the menu is resized.</td>
			</tr>
			<tr>
				<td><span class="prop-name">onSearch</span></td>
				<td><span class="prop-default"><code>value</code></span></td>
				<td><span class="prop-type">{string}</span></td>
				<td>Triggered before a search is performed.</td>
			</tr>
			<tr>
				<td><span class="prop-name">onAbort</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Triggered when a search is aborted (async).</td>
			</tr>
			<tr>
				<td><span class="prop-name">onClear</span></td>
				<td><span class="prop-default">-</span></td>
				<td><span class="prop-type">-</span></td>
				<td>Triggered after the input has been cleared.</td>
			</tr>
			<tr>
				<td><span class="prop-name">onSelect</span></td>
				<td><span class="prop-default"><code>item</code></span></td>
				<td><span class="prop-type">{Object}</span></td>
				<td>Triggered after a suggestion has been selected.</td>
			</tr>
			<tr>
				<td><span class="prop-name">onHighlight</span></td>
				<td><span class="prop-default"><code>item</code></span></td>
				<td><span class="prop-type">{object}</span></td>
				<td>Triggered after a suggestion has been highlighted.</td>
			</tr>
		</tbody>
	</table>
</div>
